{% extends 'base.html.twig' %}

{% block title %}{% trans %}Search Post{% endtrans %}{% endblock %}

{% block menu %}
    {% include(':dashboard/parts:menu.html.twig') %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default panel-menu">
                        <h4 class="caption-name text-center">Menu</h4>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ path('search') }}">{% trans %}Find post{% endtrans %}</a><span class="glyphicon glyphicon-menu-right"></span></li>
                            <li class="list-group-item"><a href="{{ path('search_user', { 'query': query }) }}">{% trans %}Find user{% endtrans %}</a><span class="glyphicon glyphicon-menu-right"></span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default posts">
                        <h2 class="text-center">{% trans %}Search results for{% endtrans %} <b>"{{ query }}"</b></h2>
                        <br>
                        <ul>
                            {% for result in results %}
                                <li class="timeline-post query-post">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#" class="post-avatar">
                                                {% if result.user.avatarName %}
                                                    <img src="{{ vich_uploader_asset(result.user, 'avatarFile') }}" alt="{{ result.user.avatarName }}">
                                                {% else %}
                                                    <img src="{{ asset('img/avatar.jpg') }}" alt="user avatar">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="caption-name">{{ result.user.name }} {{ result.user.surname }}</h4>
                                            <p class="post-date">{{ result.uploadedAt|ago }} {% if result.editedAt %}· edited {{ result.editedAt|ago }}{% endif %}</p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <p>{{ result.content|nl2br }}</p>
                                        {% if result.imageName %}
                                            <a href="{{ vich_uploader_asset(result, 'imageFile') }}" class="post-img">
                                                <img src="{{ vich_uploader_asset(result, 'imageFile') }}" alt="{{ result.imageName }}">
                                            </a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    {% for note in user.notes %}
                        <div class="alert alert-{{ note.type }} alert-dismissible" role="alert">
                            <button type="button" class="close each-note" data-dismiss="alert" data-id="{{ note.id }}"><span>&times;</span></button>
                            {{ note.message }}
                        </div>
                    {% endfor %}
                    <div class="panel panel-default panel-likes">
                        <h4 class="caption-name">{% trans %}You are following{% endtrans %}</h4>
                        <ul>
                            {% for follow in user.follows|slice(0,20) %}
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#" class="post-avatar">
                                                {% if follow.targetUser.avatarName %}
                                                    <img src="{{ vich_uploader_asset(follow.targetUser, 'avatarFile') }}" alt="{{ follow.targetUser.avatarName }}">
                                                {% else %}
                                                    <img src="{{ asset('img/avatar.jpg') }}" alt="follow avatar">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a class="follow-link" href="{{ path('user_page', { 'username': follow.targetUser.username }) }}"><strong>{{ follow.targetUser.name }} {{ follow.targetUser.surname }}</strong></a>
                                            <a href="{{ path('unfollow', { 'username': follow.targetUser.username }) }}" class="btn btn-follow"><span class="glyphicon glyphicon glyphicon-check"></span> {% trans %}Unfollow{% endtrans %}</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% include(':dashboard/parts:copyright.html.twig') %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block styles %}
    <style type="text/css">
        .btn-follow, .panel-likes .btn-follow {
            border-color: {{ website.mainColor }};
            color: {{ website.mainColor }}
        }
        .btn-follow .glyphicon {
            color: {{ website.mainColor }};
        }
        .btn-follow:hover {
            background: {{ website.mainColor }};
            color: #fff;
        }
        .btn-post {
            background: {{ website.mainColor }}
        }
    </style>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('.query-post .post-content').mark("{{ query }}");
</script>
{% endblock %}